<!doctype html>
<!--
  <3 Emojis powered by https://github.com/twitter/twemoji <3
-->
<html>
  <%= partial "partials/head" %>
  <body class="<%= page_classes %>">
    <%= partial "partials/navigation" %>
    <%= yield %>
    <%= partial "partials/footer" %>
    <%= partial "partials/scripts" %>

  </body>
  <%= javascript_include_tag 'site', relative: true %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js' %>
  <%= javascript_include_tag 'vendor/lity.min.js', relative: true %>

</html>
