<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body class="<%= page_classes %> text-page">
    <%= partial "partials/navigation", :locals => {:background => 'banner'} %>
    <%= yield %>
    <%= partial "partials/footer" %>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3046634.js"></script>
    <!-- End of HubSpot Embed Code -->
  </body>

  <%= javascript_include_tag 'site', relative: true %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js' %>
  <%= javascript_include_tag 'vendor/lity.min.js', relative: true %>
  <%= partial "partials/scripts" %>

</html>
