<a name="contact"></a>
<section class="contact <%= shade ||= '' %> ">
    <h2>Contact us</h2>
    <div class="split">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.593975809267!2d10.75479845173233!3d59.922285581781225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416e6610bf7bd3%3A0x55a7fe8ab7c9e1bc!2sMarkveien+35C%2C+0554+Oslo%2C+Norwegen!5e0!3m2!1sde!2sde!4v1513949907678" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contact-details">
            <h3>Send us an email</h3>
            <ul>
                <li><%= link_to 'hello@vibbio.com', 'mailto:hello@vibbio.com' %> for general enquiries</li>
                <li><%= link_to 'sales@vibbio.com', 'mailto:sales@vibbio.com' %> to get in touch with our sales team</li>
                <li><%= link_to 'tech@vibbio.com', 'mailto:tech@vibbio.com' %> to get in touch with our tech team</li>
                <li><%= link_to 'jobs@vibbio.com', 'mailto:jobs@vibbio.com' %> for anything related to our open positions</li>
                <!-- <li><%= link_to 'Take a look at the team', '#team' %> to find individual email addresses</li> -->
            </ul>
            <h3>Visit us</h3>
            <p>Markveien 35c <br>
            <em>(Entrance from Sofienberggata)</em><br>
            0554 Oslo <br>
            Norway
            </p>
        </div>
    </div>
</section>