<div class="customer-logos">
    <ul class="logo-list">
        <li><%= image_tag 'customer-logos/BackeGruppen.svg', :alt => 'Backe Gruppen' %></li>
        <li><%= image_tag 'customer-logos/Orkla.svg', :alt => 'Orkla', :id => 'Orkla' %></li>
        <li><%= image_tag 'customer-logos/PierreRobert.svg', :alt => 'Pierre Robert', :id => 'PierreRobert' %></li>
        <li><%= image_tag 'customer-logos/Scandic.svg', :alt => 'Scandic', :id => 'Scandic' %></li>
        <li><%= image_tag 'customer-logos/Elkjop.svg', :alt => 'Elkjop', :id => 'Elkjop' %></li>
        <li><%= image_tag 'customer-logos/Tine.svg', :alt => 'Tine', :id => 'Tine' %></li>
        <li><%= image_tag 'customer-logos/visma.svg', :alt => 'Visma', :id => 'Visma' %></li>
        <li><%= image_tag 'customer-logos/SopraSteria.svg', :alt => 'SopraSteria', :id => 'SopraSteria' %></li>
    </ul>
    <ul class="logo-list">
        <li><%= image_tag 'customer-logos/BackeGruppen.svg', :alt => 'Backe Gruppen' %></li>
        <li><%= image_tag 'customer-logos/Orkla.svg', :alt => 'Orkla', :id => 'Orkla' %></li>
        <li><%= image_tag 'customer-logos/PierreRobert.svg', :alt => 'Pierre Robert', :id => 'PierreRobert' %></li>
        <li><%= image_tag 'customer-logos/Scandic.svg', :alt => 'Scandic', :id => 'Scandic' %></li>
        <li><%= image_tag 'customer-logos/Elkjop.svg', :alt => 'Elkjop', :id => 'Elkjop' %></li>
        <li><%= image_tag 'customer-logos/Tine.svg', :alt => 'Tine', :id => 'Tine' %></li>
        <li><%= image_tag 'customer-logos/visma.svg', :alt => 'Visma', :id => 'Visma' %></li>
        <li><%= image_tag 'customer-logos/SopraSteria.svg', :alt => 'SopraSteria', :id => 'SopraSteria' %></li>
    </ul>
</div>