<div class="customer-logos">
    <h2 class="section-heading">Brands trusting us</h2>
    <%= image_tag 'customer-logos/Adecco.png', :alt => 'Adecco' %>
    <%= image_tag 'customer-logos/AkerBiomarine.png', :alt => 'Aker Biomarine' %>
    <%= image_tag 'customer-logos/AkerSolutions.png', :alt => 'Aker Solutions' %>
    <%= image_tag 'customer-logos/BackeGruppen.png', :alt => 'Backe Gruppen' %>
    <%= image_tag 'customer-logos/BI.png', :alt => 'BI' %>
    <%= image_tag 'customer-logos/Datametrix.png', :alt => 'Datametrix' %>
    <%= image_tag 'customer-logos/Evry.png', :alt => 'Evry' %>
    <%= image_tag 'customer-logos/Microsoft.png', :alt => 'Microsoft' %>
    <%= image_tag 'customer-logos/NHO.png', :alt => 'NHO' %>
    <%= image_tag 'customer-logos/OBR.png', :alt => 'OBR' %>
    <%= image_tag 'customer-logos/Orkla.png', :alt => 'Orkla' %>
    <%= image_tag 'customer-logos/PierreRobert.png', :alt => 'Pierre Robert' %>
    <%= image_tag 'customer-logos/Skill.png', :alt => 'Skill' %>
    <%= image_tag 'customer-logos/Tripletex.png', :alt => 'Tripletex' %>
    <%= image_tag 'customer-logos/visma.png', :alt => 'Visma' %>
</div>