<footer>
    <main>
        <div class="about-vibbio">
            <%= image_tag 'vibbio_white.svg', :class => 'logo', :alt => 'VIBBIO logo' %>

            <p>A growing number of international brands trust VIBBIO with all their video needs.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="links">
            <ul>
              <li><%= link_to 'Product', 'product.html' %></li>
              <li><%= link_to 'Plans', 'plans.html' %></li>
              <li><%= link_to 'Productions', 'productions.html' %></li>
            </ul>

            <ul>
                <li><%= link_to 'About', 'about.html' %></li>
                <li><%= link_to 'Team', 'about.html#team' %></li>
                <li><%= link_to 'Careers', 'about.html#careers' %></li>
                <li><%= link_to 'Contact', 'about.html#contact' %></li>
            </ul>

            <ul>
                <li><%= link_to 'Resources', '#' %></li>
                <li><%= link_to 'Blog', 'http://blog.vibbio.com/' %></li>
                <li><%= link_to 'Community', 'community.html' %></li>
            </ul>
        </div>

        <div class="social">

            <ul class="social-icons">
                <li>
                    <% link_to 'https://facebook.com/vibbio' do %>
                        <%= image_tag 'Facebook.svg', :alt => 'Facebook icon' %>
                    <% end %>
                </li>
                <li><% link_to 'https://twitter.com/vibb_io' do %>
                        <%= image_tag 'Twitter.svg', :alt => 'Twitter icon' %>
                    <% end %>
                <li>
                    <% link_to 'https://instagram.com/vibbio' do %>
                        <%= image_tag 'Instagram.svg', :alt => 'Instagram icon' %>
                    <% end %>
                </li>
            </ul>
        </div>
    </main>
    <aside>
        <ul>
            <li><%= link_to 'Terms and conditions', 'terms.html' %></li>
            <li><%= link_to 'Privacy policy', 'terms.html#privacy' %></li>
            <li><%= link_to 'Cookie policy', 'cookies.html' %></li>
        </ul>
        <p>&copy; 2016 &ndash; 2018 VIBBIO AS</p>
    </aside>
</footer>