<section class="get-started <%= shade ||= '' %> ">
    <h1>How to get started</h1>
    <article>
        <div class="feature">
            <%= image_tag 'icons/1.svg', :alt => 'Number 1 icon' %>
            <div>
                <h2>Sign up for a VIBBIO user</h2>
                <p>You have full flexibility to swap between user levels to fit peak/low seasons or other changes in volume and needs.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/2.svg', :alt => 'Number 2 icon' %>
            <div>
                <h2>Watch our tutorials and guides</h2>
                <p>The first time you log in, we take you through a simple step-by-step setup guide, to ensure a good start with your account.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/3.svg', :alt => 'Number 3 icon' %>
            <div>
                <h2>Upload existing visual material</h2>
                <p>Your spacious cloud-based library lets you tag and store existing photos and clips, which can all be used in new projects.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/4.svg', :alt => 'Number 4 icon' %>
            <div>
                <h2>Invite team members</h2>
                <p>Invite any number of team members and collaborators to your team, to participate in planning and ordering videos.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/5.svg', :alt => 'Number 5 icon' %>
            <div>
                <h2>Find your own workflow</h2>
                <p>Start with small steps. We auto-save all projects, so feel free to have a play and find your own workflow.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/6.svg', :alt => 'Number 6 icon' %>
            <div>
                <h2>Get help right when you need it</h2>
                <p>Reach out with questions, or book the wanted specialists to help with your campaigns, directly from your account.</p>
            </div>
        </div>
    </article>
</section>