<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VIBBIO is a SaaS enabled video marketplace.">
    <meta name="author" cntent="VIBBIO">
    <meta property="og:description" content="VIBBIO is a SaaS enabled video marketplace.">
    <meta property="og:image" content="https://vibbio.com/images/round-logo.png">
    <meta property="og:title" content="<%= current_page.data.title || 'VIBBIO' %>">
    <meta property="og:type" content="">
    <meta name="twitter:description" content="VIBBIO is a SaaS enabled video marketplace.">
    <meta name="twitter:title" content="<%= current_page.data.title || 'VIBBIO' %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="vibbio.com">
    <meta name="twitter:creator" content="@vibb_io">
    <meta name="twitter:image" content="https://vibbio.com/images/round-logo.png">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "VIBBIO" %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli" rel="stylesheet">
    <%= stylesheet_link_tag 'vendor/lity.min.css', relative: true %>
    <%= stylesheet_link_tag 'site', relative: true %>
    <%= favicon_tag 'images/favicon.ico' %>
</head>