<section class="mission">
    <div class="story"><%= partial 'page-content/about/mission.md' %></div>
    <div class="video-grid">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252846169', :image_url => '/images/video-stills/voice-control.jpg', :alt_text => 'Voice Control'} %>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671319', :image_url => '/images/video-stills/3Dprinting.jpg', :alt_text => '3D Printing'} %>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671328', :image_url => '/images/video-stills/blockchain.jpg', :alt_text => 'Blockchain'} %>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671340', :image_url => '/images/video-stills/insurtech.jpg', :alt_text => 'InsurTech'} %>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671351', :image_url => '/images/video-stills/stemcells.jpg', :alt_text => 'Stem Cells'} %>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671365', :image_url => '/images/video-stills/education.jpg', :alt_text => 'Future of education'} %>
    </div>
</section>