<nav class="desktop <%= background ||= '' %> ">
    <% link_to '/' do %>
      <%= image_tag 'vibbio_white.svg', :class => 'logo' %>
    <% end %>

    <ul class="site-navigation">
        <li class="<%= active_navigation("/product") %>">
            <%= link_to 'Product', '/product' %>
        </li>
        <li class="<%= active_navigation("/plans") %>">
            <%= link_to 'Plans', '/plans' %>
        </li>
        <li class="<%= active_navigation("/resources") %>">
            <%= link_to 'Resources', '/resources' %>
        </li>
        <li class="<%= active_navigation("/about") %>">
            <%= link_to 'About', '/about' %>
        </li>
        <li>
            <%= link_to 'Request a demo', 'https://info.vibbio.com/request-a-demo' %>
        </li>
    </ul>

    <%= link_to 'Menu', '#', :class => 'menu-trigger' %>

    <%= link_to 'Log in', 'https://app.vibbio.com', :class => 'button' %>
</nav>

<div class="overlay">
    <button type="button" class="close-overlay">Close</button>

    <nav class="mobile">
        <ul>
            <li><%= link_to 'Product', '/product' %></li>
            <li><%= link_to 'Plans', '/plans' %></li>
            <li><%= link_to 'Resources', 'resources' %></li>
            <li><%= link_to 'About', '/about' %></li>
            <li><%= link_to 'Request a demo', 'mailto:sales@vibbio.com' %></li>
            <li><%= link_to 'Log in', 'https://app.vibbio.com' %></li>
        </ul>
    </nav>


</div>
