<nav class="desktop <%= background ||= '' %> ">
    <% link_to '/' do %>
      <%= image_tag 'vibbio_white.svg', :class => 'logo' %>
    <% end %>

    <ul>
        <li><%= link_to 'Product', '/product' %></li>
        <li><%= link_to 'Plans', '/plans' %></li>
        <li><%= link_to 'Resources', '/resources' %></li>
        <li><%= link_to 'About', '/about' %></li>
    </ul>

    <%= link_to 'Menu', '#', :class => 'menu-trigger' %>
    <%= link_to 'Log in', 'https://app.vibbio.com', :class => 'button' %>
</nav>

<div class="overlay">
    <button type="button" class="close-overlay">Close</button>

    <nav class="mobile">
        <ul>
            <li><%= link_to 'Product', '/product' %></li>
            <li><%= link_to 'Plans', '/plans' %></li>
            <li><%= link_to 'Resources', 'resources' %></li>
            <li><%= link_to 'About', '/about' %></li>
            <li><%= link_to 'Log in', 'https://app.vibbio.com' %></li>
        </ul>
    </nav>


</div>