<section id="onboarding-sessions" class="onboarding-sessions <%= shade ||= '' %> ">
    <h2>Sessions</h2>
    <div class="wrapper">
        <div class="area">
            <%= image_tag 'icons/1.svg', :alt => 'Number 1 icon' %>
            <div>
                <h3>Getting started</h3>
                <p>Introduction and preparation guide (email with video)</p>
            </div>
        </div>
        <div class="area">
            <%= image_tag 'icons/2.svg', :alt => 'Number 2 icon' %>
            <div>
                <h3>Training</h3>
                <p>How to use the video project workflow, get the most from your user & how to prep for a project.</p>
                <p><em>(30 &ndash; 40 minutes)</em></p>
            </div>
        </div>
        <div class="area">
            <%= image_tag 'icons/3.svg', :alt => 'Number 3 icon' %>
            <div>
                <h3>Pilot video planning workshop</h3>
                <ul>
                    <li>Outlining your project and creating a draft in the workflow.</li>
                    <li>Decide dates and details for project completion.</li>
                    <li>Based on your chosen pilot project, we'll evaluate if you have suitable content, or if a film shoot is needed</li>
                    <li>Need to add a film shoot? We'll help you book this in the platform.</li>
                </ul>
                <p><em>(60 &ndash; 90 minutes)</em></p>
            </div>
        </div>
        <div class="area">
            <%= image_tag 'icons/4.svg', :alt => 'Number 4 icon' %>
            <div>
                <h3>Completing your first video</h3>
                <ul>
                    <li>If we've had a shoot, we'll upload all new clips to your user, and help select the best parts.</li>
                    <li>We take you through creating and completing the project in the workflow - all the way through to ordering.</li>
                </ul>
                <p><em>(60 minutes)</em></p>
            </div>
        </div>
        <div class="area">
            <%= image_tag 'icons/5.svg', :alt => 'Number 5 icon' %>
            <div>
                <h3>Editing and delivery</h3>
                <p>Your video is edited and delivered the same day, in a full version and a short teaser, complete with a tailored brand profile (your colours, font and logo).</p>
                <p><em>(This happens &ldquo;under the hood&rdquo; of VIBBIO)</em></p>
            </div>
        </div>
        <div class="area">
            <%= image_tag 'icons/6.svg', :alt => 'Number 6 icon' %>
            <div>
                <h3>Evaluation and onwards</h3>
                <ul>
                    <li>Prior to meeting up, we'll give you a task of preparing ideas for wanted content.</li>
                    <li>In the workshop we’ll assist you in planning suitable content for the coming 11 months.</li>
                </ul>
                <p><em>(60 minutes)</em></p>
            </div>
        </div>
    </div>
</section>