<section class="plans-include">
    <h2>All plans include</h2>
    <ul>
        <li>
            <%= image_tag 'icons/spaceship.svg', :alt => 'Space rocket icon' %>
            <h3>Onboarding workshop</h3>
            <p>To give you a flying start with your VIBBIO user, we offer a tailored onboarding plan during your first month, starting from NOK 25k.</p>
            <p>
                <%= link_to 'Learn more', '/onboarding.html', :title => 'Learn more about VIBBIO\'s onboarding options' %>
            </p>
        </li>
        <li>
            <%= image_tag 'icons/camerastar.svg', :alt => 'Camera icon' %>
            <h3>Video profile creation</h3>
            <p>When you get an account for your brand, we will create a custom video profile for you based on your brand guidelines.</p>
        </li>
        <li>
            <%= image_tag 'icons/dollarcoin.svg', :alt => 'Dollar coin icon' %>
            <h3>Credits &amp; roll-over</h3>
            <p>The VIBBIO currency is credits. These can be used for all purchases within the platform. Unused credits automatically have a one month roll-over for ultimate flexibility.</p>
        </li>
        <li>
            <%= image_tag 'icons/opensign.svg', :alt => 'Icon showing a sign saying "open"', :id => 'open-sign' %>
            <h3>Built-in marketplace</h3>
            <p>Extra services such as stock material, filming, copywriting, voice, music, etc. are bookable direcly from within each account.</p>
            <p>
                <%= link_to 'Learn more', '/product#marketplace', :title => 'Learn more about VIBBIO\'s onboarding options' %>
            </p>
        </li>
    </ul>
</section>