<section class="plans-include <%= shade ||= '' %> ">
    <h1>What you get</h1>
    <p class="ingress">
        All plans include the following features
    </p>
    <article>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Your own media storage</h2>
                <p>Store and organize all your visual content in one place - ready for use in your video orders. 
</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Peresonalized video brand profile</h2>
                <p>Stand out on social media with a strong and recognizable video profile. We’ll create one for you as part of the on-boarding.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Lightning fast delivery</h2>
                <p>The Internet waits for no man. That’s why we promise to deliver your finished video in 2-7 days. </p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Unlimted collaborators</h2>
                <p>Invite your team to the platform, so you can plan and order videos together. </p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>New credits each month</h2>
                <p>Based on your subscription, you’ll get a new set of credits each month.
</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Test different versions</h2>
                <p>Order several versions of the same video to optimize your results, to A/B test and to reach different audiences. </p>
            </div>
        </div>
    </article>
</section>