<section class="plans-include <%= shade ||= '' %> ">
    <h1>All plans include</h1>
    <p class="ingress">
        All our plans include the following features
    </p>
    <article>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Your own asset library</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis a quasi quos dolor voluptatibus commodi atque illo soluta. Quia perferendis corporis facere blanditiis maxime necessitatibus iste maiores enim explicabo doloribus!</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Unlimited collaborators</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta tempore iure nisi asperiores facere reiciendis adipisci impedit animi numquam magnam consectetur nostrum, totam tempora eos. Culpa veritatis, unde. Corporis, ut.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Your own brand</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis asperiores sed natus rem velit ratione accusamus, eveniet aspernatur ipsa consequatur itaque, temporibus eaque perferendis! Porro at iure quaerat autem.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Unlimted new versions of your videos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora assumenda harum dicta vel. Omnis similique ipsum, temporibus quos exercitationem ad, iure earum soluta eos reiciendis necessitatibus modi, doloremque saepe error.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>New credits each month</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nihil dolorem recusandae blanditiis culpa ipsa doloribus harum itaque eum laudantium, deleniti, facere cum facilis magni illum incidunt et nesciunt. Maxime.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'Vibbio.symbol.png', :alt => 'VIBBIO symbol' %>
            <div>
                <h2>Lightning fast delivery</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum laudantium voluptas ipsum sit animi alias blanditiis earum quidem reiciendis facilis optio officiis, tenetur, repudiandae dolor rem error sunt distinctio delectus.</p>
            </div>
        </div>
    </article>
</section>