<section class="smart-tools <%= shade ||= '' %> ">
    <h1>How does it work?</h1>
    <p class="ingress">The Vibbio platform is a subscription solution that is flexible to use, and covers anything that is related to the use of video for communication and marketing.</p>
    <article>
        <div class="feature">
            <%= image_tag 'icons/spaceship.svg', :alt => 'Rocketship icon' %>
            <div>
                <h2>Video brand profile</h2>
                <p>Easily create your brand’s video profile for consistent branding in all videos.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/foldercloud.svg', :alt => 'Cloud folder icon' %>
            <div>
                <h2>Media library</h2>
                <p>Your own cloud-based space to upload, sort and store all your visual content.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/monitor.svg', :alt => 'Monitor icon' %>
            <div>
                <h2>Plan and order videos</h2>
                <p>Plan and order videos directly from your user account.
                    <ul class="bullet-list">
                        <li>Choose message, and match visual content.</li>
                        <li>Receive helpful tips &amp; tricks on format, length and publishing channel based on your target audience.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/paws.svg', :alt => 'Rocketship icon', :id => 'paws' %>
            <div>
                <h2>Receive professional videos</h2>
                <p>We have professional video experts who ensure quality and correct use of your video brand &ndash; they deliver a finished video to your user in 2-5 days.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/moviecut.svg', :alt => 'Chatbubble icon' %>
            <div>
                <h2>Small changes &ndash; new videos</h2>
                <p>All visual content, orders and finished videos are stored on the platform, to give your team the necessary tools to do multi-variant testing or to re-use content for other purposes.</p>
                <p>Order small changes such as: new intro/outro, messages, language, format or visual content. </p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/localstore.svg', :alt => 'Local store icon' %>
            <div>
                <h2>Extra visual content</h2>
                <p>If you’re in need of visual content, you can easily book filming. Raw materials will be uploaded and sorted in your media library.</p>
                <p>Or buy stock items from our built-in store.</p>
            </div>
        </div>
    </article>
    <%= link_to 'Learn more about the product', 'product' %>
</section>