<section class="smart-tools <%= shade ||= '' %> ">
    <h1>VIBBIO Smart Tools</h1>
    <article>
        <div class="feature">
            <%= image_tag 'icons/foldercloud.svg', :alt => 'Cloud folder icon' %>
            <div>
                <h2>Your own content library</h2>
                <p>ONE place to tag and organise all your visual content</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/monitor.svg', :alt => 'Monitor icon' %>
            <div>
                <h2>Workspace with easy video planning and ordering tool</h2>
                <p>Includes auto suggestions, enabling quick order of multiple versions</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/networkconnection.svg', :alt => 'Connected person icon' %>
            <div>
                <h2>Unlimited team member collaboration</h2>
                <p>And the option to gather multiple brands under one main admin user.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/spaceship.svg', :alt => 'Rocketship icon' %>
            <div>
                <h2>Videos completed in as little as 2 days</h2>
                <p>Tailored to brand guidelines and chosen publishing channels.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/localstore.svg', :alt => 'Local store icon' %>
            <div>
                <h2>Direct access to stock shop, content help and film-crew booking</h2>
                <p>Our in-built marketplace offers a range of features and services.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/chatbubble.svg', :alt => 'Chatbubble icon' %>
            <div>
                <h2>Built by video and content professionals</h2>
                <p>We're always on hand, happy to share our expertise and resources.</p>
            </div>
        </div>
    </article>
    <%= link_to 'Learn more about the product', 'product' %>
</section>