<section class="smart-tools <%= shade ||= '' %> ">
    <h1>How does it work?</h1>
    <p class="ingress">The Vibbio platform is a subscription solution that is flexible to use, and covers anything that is related to the use of video for communication and marketing.</p>
    <article>
        <div class="feature">
            <%= image_tag 'icons/spaceship.svg', :alt => 'Rocketship icon' %>
            <div>
                <h2>Video brand profile</h2>
                <p>We incorporate your company's visual brand, creating a <strong>tailored video profile</strong> for consistent branding in all your videos.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/foldercloud.svg', :alt => 'Cloud folder icon' %>
            <div>
                <h2>Media library</h2>
                <p>Your own <strong>large cloud-based space</strong> to upload, sort and store all your visual content, including photos, video clips, existing videos, logos etc.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/monitor.svg', :alt => 'Monitor icon' %>
            <div>
                <h2>Plan and order videos</h2>
                <p>Plan and order videos directly from your user account.
                    <ul class="bullet-list">
                        <li>Create <strong>short messages</strong>, and match them with visual content.</li>
                        <li>Receive helpful tips &amp; tricks on format, length and publishing channel, based on your target audience.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/paws.svg', :alt => 'Rocketship icon', :id => 'paws' %>
            <div>
                <h2>Receive professional videos</h2>
                <p>No need to learn editing, we've got professionals &ldquo;under the hood&rdquo;.</p>
                <p>The VIBBIO software, coupled with our in-house experts, ensure you have <strong>publish-ready videos the same day</strong> if you order before 14:00 CEST.</p>
                <p class="fineprint">Same day delivery does not apply to videos longer than 60 seconds</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/moviecut.svg', :alt => 'Chatbubble icon' %>
            <div>
                <h2>Small changes &ndash; new videos</h2>
                <p>All visual material, drafts, orders and finished videos are stored on the platform, giving your team the tools for <strong>multi-variant testing and recycling</strong> of content.</p>
                <p><strong>Quick order:</strong> New intro/outro, changed message/image, new language or format.</p>
            </div>
        </div>
        <div class="feature">
            <%= image_tag 'icons/localstore.svg', :alt => 'Local store icon' %>
            <div>
                <h2>Extra visual content</h2>
                <p>If you’re in need of new visual material, you can <strong>easily book filming</strong> from your account. Raw materials will be automatically uploaded and sorted in your media library.</p>
                <p>Or, you can easily buy stock items from our built-in store.</p>
            </div>
        </div>
    </article>
        <!-- <%= link_to 'Learn more about the product', 'product' %>  -->
        <%= link_to 'Request a free demo', 'https://info.vibbio.com/request-a-demo' %>
</section>