<a name="team"></a>
<section class="team">
    <h2>Meet the team</h2>
    <p class="ingress">Sed posuere consectetur est at lobortis.</p>
    <div class="photo-grid">
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/marianne.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Marianne Bratt Ricketts</p>
                <p class="title">CEO & Co-Founder</p>
                <p class="email">
                    <%= link_to 'marianne@vibbio.com', 'mailto:marianne@vibbio.com' %>
                </p>
                <p class="mobile">+47 954 19 444</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/stine.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Stine Norum</p>
                <p class="title">COO & Co-Founder</p>
                <p class="email">
                    <%= link_to 'stine@vibbio.com', 'mailto:stine@vibbio.com' %>
                </p>
                <p class="mobile">+47 995 90 802</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/catharina.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Catharina Husjord</p>
                <p class="title">CFO</p>
                <p class="email">
                    <%= link_to 'catharina@vibbio.com', 'mailto:catharina@vibbio.com' %>
                </p>
                <p class="mobile">+47 951 52 483</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/ingrid.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Ingrid Guren</p>
                <p class="title">Tech Lead</p>
                <p class="email">
                    <%= link_to 'ingrid@vibbio.com', 'mailto:ingrid@vibbio.com' %>
                </p>
                <p class="mobile"></p>

            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/tana.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Tana Blegen</p>
                <p class="title">Head of Communications</p>
                <p class="email">
                    <%= link_to 'tana@vibbio.com', 'mailto:tana@vibbio.com' %>
                </p>
                <p class="mobile">+47 454 03 289</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/ine.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Ine Autzen</p>
                <p class="title">Head of Productions</p>
                <p class="email">
                    <%= link_to 'ine@vibbio.com', 'mailto:ine@vibbio.com' %>
                </p>
                <p class="mobile">+47 482 95 066</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/alexandra.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Alexandra Leisse</p>
                <p class="title">VP of Product</p>
                <p class="email">
                    <%= link_to 'alexandra@vibbio.com', 'mailto:alexandra@vibbio.com' %>
                </p>
                <p class="mobile"></p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/line.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Line Moseng</p>
                <p class="title">Product Developer</p>
                <p class="email">
                    <%= link_to 'line@vibbio.com', 'mailto:line@vibbio.com' %>
                </p>
                <p class="mobile"></p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/mathias.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Mathias J. Johansen</p>
                <p class="title">Product Developer</p>
                <p class="email">
                    <%= link_to 'mathias@vibbio.com', 'mailto:mathias@vibbio.com' %>
                </p>
                <p class="mobile"></p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/tina.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Tina Wold</p>
                <p class="title">Content Creator</p>
                <p class="email">
                    <%= link_to 'tina@vibbio.com', 'mailto:tina@vibbio.com' %>
                </p>
                <p class="mobile">+47 416 02 961</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/morten.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Morten J. Solberg</p>
                <p class="title">Producer</p>
                <p class="email">
                    <%= link_to 'morten@vibbio.com', 'mailto:morten@vibbio.com' %>
                </p>
                <p class="mobile"></p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/agri.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Agri Soltanpanah 👑</p>
                <p class="title">Producer</p>
                <p class="email">
                    <%= link_to 'agri@vibbio.com', 'mailto:agri@vibbio.com' %>
                </p>
                <p class="mobile"></p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/robert.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Robert Ellefsrød</p>
                <p class="title">Producer</p>
                <p class="email">
                    <%= link_to 'robert@vibbio.com', 'mailto:robert@vibbio.com' %>
                </p>
                <p class="mobile"></p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'team/mark.jpg', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Mark Tonkin</p>
                <p class="title">Producer</p>
                <p class="email">
                    <%= link_to 'mark@vibbio.com', 'mailto:mark@vibbio.com' %>
                </p>
                <p class="mobile"></p>
            </div>
        </div>
        <div class="join-teaser" tabindex="0">
            <%= link_to 'You?', '#careers', :class => 'box' %>
        </div>
    </div>
    <h3>board and advisors</h3>
    <div class="photo-grid">
        <div class="team-member" tabindex="0">
            <%= image_tag 'https://picsum.photos/200?random', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Anders Lier</p>
                <p class="title">Chairman of Nordic Impact</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'https://picsum.photos/200?random', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Rolv Assev</p>
                <p class="title">Partner at StartupLab</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'https://picsum.photos/200?random', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Anniken Fjelberg</p>
                <p class="title">Co-Founder at 657</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'https://picsum.photos/200?random', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Steinar Sæther</p>
                <p class="title">COO M&M Bank</p>
            </div>
        </div>
        <div class="team-member" tabindex="0">
            <%= image_tag 'https://picsum.photos/200?random', :class => 'member-img' %>
            <div class="team-overlay">
                <p class="name">Hans-Petter Nygård-Hansen</p>
                <p class="title">Communication Specialist</p>
            </div>
        </div>
    </div>
</section>