<section class="video-reel <%= shade ||= '' %> ">
    <h2>Our work</h2>

    <p class="ingress">
        Whether you need videos for social media, websites, employee training, landing pages or newsletters, we’ve got your back.
    </p>

    <div class="videos">
        <div class="single-video">
            <%= partial 'partials/play-button' %>
            <%= image_tag 'http://via.placeholder.com/230x129' %>
            <p class="caption">
                <span class="customer">Pierre Robert</span>
                <!-- KOMP -->
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
            <%= partial 'partials/play-button' %>
            <%= image_tag 'http://via.placeholder.com/230x129' %>
            <p class="caption">
                <span class="customer">Oslo Kommune</span>
                <!-- KOMP -->
                <span class="date">December 2017</span>
            </p>
        </div>
        <div class="single-video">
            <%= partial 'partials/play-button' %>
            <%= image_tag 'http://via.placeholder.com/230x129' %>
            <p class="caption">
                <span class="customer">BaneNor</span>
                <!-- KOMP -->
                <span class="date">December 2017</span>
            </p>
        </div>
    </div>
    
    <%= link_to 'Learn more', '/product.html' %>
</section>
