<section class="video-examples <%= shade ||= '' %> ">
    <h2>Examples</h2>

    <div class="videos">
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/255948827', :image_url => '/images/video-stills/pierre-robert.jpg', :alt_text => 'Pierre Robert video clip'} %>
            <p class="caption">
                <span class="customer">Pierre Robert</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671365', :image_url => '/images/video-stills/education.jpg', :alt_text => 'The Future of Education video clip'} %>
            <p class="caption">
                <span class="customer">The Future of Education</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/255945383', :image_url => '/images/video-stills/karriere.jpg', :alt_text => 'Hun Spanderer video clip'} %>
            <p class="caption">
                <span class="customer">#HunSpanderer</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/250629418', :image_url => '/images/video-stills/nutrilett.jpg', :alt_text => 'Nutrilett video clip'} %>
            <p class="caption">
                <span class="customer">Nutrilett</span>
            </p>
        </div>
    </div>
    <a href="<%= link_url %>" class="button"><%= button_text %></a>

</section>
