<section class="video-reel <%= shade ||= '' %> ">
    <h2>Our work</h2>

    <p class="ingress">
        Whether you need videos for social media, websites, employee training, landing pages or newsletters, we’ve got your back.
    </p>

    <div class="videos">
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/243855720', :image_url => '/images/video-stills/komp.jpg', :alt_text => 'No Isolation - KOMP video'} %>
            <p class="caption">
                <span class="customer">No Isolation &ndash; KOMP</span>
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/230135182', :image_url => '/images/video-stills/moviemask.jpg', :alt_text => 'MovieMask video'} %>
            <p class="caption">
                <span class="customer">MovieMask</span>
                <span class="date">August 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/230134141', :image_url => '/images/video-stills/m1min.jpg', :alt_text => 'M1Min video'} %>
            <p class="caption">
                <span class="customer">M1Min</span>
                <span class="date">August 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/230133724', :image_url => '/images/video-stills/adecco.jpg', :alt_text => 'Adecco Studentprofil video'} %>
            <p class="caption">
                <span class="customer">Adecco Studentprofil</span>
                <span class="date">August 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/222514697', :image_url => '/images/video-stills/AV1.jpg', :alt_text => 'No Isolation AV1 UK video'} %>
            <p class="caption">
                <span class="customer">No Isolation AV1 UK</span>
                <span class="date">June 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/220803834', :image_url => '/images/video-stills/oma.jpg', :alt_text => 'Oslo Metropolitan Area video'} %>
            <p class="caption">
                <span class="customer">Oslo Metropolitan Area</span>
                <span class="date">June 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/255964310', :image_url => '/images/video-stills/akerbio.jpg', :alt_text => 'Aker BioMarine: The Krill Journey video'} %>
            <p class="caption">
                <span class="customer">Aker BioMarine: The Krill Journey</span>
                <span class="date">May 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/255968858', :image_url => '/images/video-stills/matsvinn.jpg', :alt_text => 'Matvett: KuttMatsvinn 2020 video'} %>
            <p class="caption">
                <span class="customer">Matvett: KuttMatsvinn 2020</span>
                <span class="date">May 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/255970513', :image_url => '/images/video-stills/tise.jpg', :alt_text => 'Tise Shoppestopp video'} %>
            <p class="caption">
                <span class="customer">Tise Shoppestopp</span>
                <span class="date">May 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/255971540', :image_url => '/images/video-stills/javazone.jpg', :alt_text => 'JavaZone Attendees video'} %>
            <p class="caption">
                <span class="customer">JavaZone Attendees</span>
                <span class="date">May 2017</span>
            </p>
        </div>
    </div>
</section>
