<section class="video-grid">
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252846169', :image_url => '/images/video-stills/voice-control.jpg', :alt_text => 'Voice Control'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671319', :image_url => '/images/video-stills/3Dprinting.jpg', :alt_text => '3D Printing'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671328', :image_url => '/images/video-stills/blockchain.jpg', :alt_text => 'Blockchain'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671340', :image_url => '/images/video-stills/insurtech.jpg', :alt_text => 'InsurTech'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671351', :image_url => '/images/video-stills/stemcells.jpg', :alt_text => 'Stem Cells'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/252671365', :image_url => '/images/video-stills/education.jpg', :alt_text => 'Future of education'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/263831103', :image_url => '/images/video-stills/gadget.jpg', :alt_text => 'Lazy Goggles'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/263831322', :image_url => '/images/video-stills/sneakers.jpg', :alt_text => 'Future of sneakers'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/263829491', :image_url => '/images/video-stills/future.jpg', :alt_text => 'Skills of the future'} %>
    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/263828315', :image_url => '/images/video-stills/meat.jpg', :alt_text => 'Meat substitutes that even meat lovers will enjoy'} %>
</section>