<section class="video-reel <%= shade ||= '' %> ">
    <h2>Our work</h2>

    <p class="ingress">
        Whether you need videos for social media, websites, employee training, landing pages or newsletters, we’ve got your back.
    </p>

    <div class="videos">
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/231544979', :image_url => 'http://placebeyonce.com/230-172', :alt_text => 'About VIBBIO'} %>
            <p class="caption">
                <span class="customer">Pierre Robert</span>
                <!-- KOMP -->
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/231544979', :image_url => 'http://placebeyonce.com/230-172', :alt_text => 'About VIBBIO'} %>
            <p class="caption">
                <span class="customer">Oslo Kommune</span>
                <!-- KOMP -->
                <span class="date">December 2017</span>
            </p>
        </div>
        <div class="single-video">
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/231544979', :image_url => 'http://placebeyonce.com/230-172', :alt_text => 'About VIBBIO'} %>
            <p class="caption">
                <span class="customer">BaneNor</span>
                <!-- KOMP -->
                <span class="date">December 2017</span>
            </p>
        </div>
    </div>

    <%= link_to 'Learn more', '/product.html', :class => 'button' %>
</section>
