<section class="team">
    <h2>Meet the team</h2>
    <p class="ingress">Sed posuere consectetur est at lobortis.</p>
    <div class="photo-grid">
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= link_to 'You?', 'careers.html', :class => 'box' %>
    </div>
    <h3>board and advisors</h3>
    <div class="photo-grid">
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
        <%= image_tag 'vibbio_symbol_white.svg' %>
    </div>
</section>