---
title: VIBBIO is video production on-demand
---

<div class="hero">
    <div class="split">        
        <div><%= partial 'page-content/about/hero.md.erb' %></div>
        <div><%= image_tag 'https://i.vimeocdn.com/video/667173827.jpg', :width => '600px' %></div>
    </div>
    <div class="half-circle"></div>
</div>

<%= partial 'partials/mission' %>
<%= partial 'partials/customer-logos' %>
<%= partial 'partials/team' %>