---
title: VIBBIO is video
---

<div class="hero">
    <div><%= partial 'page-content/about/hero.md.erb' %></div>
    <div class="half-circle"><%= image_tag 'ic_arrow_down_white.svg' %></div>
    <div class="half-circle"><%= image_tag 'ic_arrow_down_white.svg' %></div>
</div>

<%= partial 'partials/mission' %>
<%= partial 'partials/video-grid' %>
<%= partial 'partials/team' %>
<%= partial 'partials/careers', :locals => {:shade => 'tinted'} %>
<%= partial 'partials/contact' %>
