---
title: VIBBIO is video on-demand
---

<div class="hero">
    <%= partial 'page-content/home/hero.md' %>
    <a href="https://vimeo.com/231544979" data-lity>Watch the introduction video</a>
    <div class="half-circle"></div>
</div>

<%= partial 'partials/customer-logos' %>
<%= partial 'partials/how-does-it-work' %>
<%= partial 'partials/no-more-barriers' %>
<%= partial 'partials/smart-tools' %>
<%= partial 'partials/video-examples', :locals => {:shade => 'tinted'} %>
<%= partial 'partials/quotes' %>
