---
title: VIBBIO – The Video Creation Platform
---

<div class="hero" id="heroSection">
    <canvas id="my-canvas"></canvas>
    <h1>The Video Creation Platform</h1>

    <%= partial 'partials/video-embed', :locals => {:video_url => 'https://video.vibbio.com/v.ihtml/player.html?token=1442d495883137455b685a1f2623b713&source=embed&photo%5fid=27066422&autoPlay=1', :image_url => 'http://placebeyonce.com/640-360', :alt_text => "Thumbnail for VIBBIO introduction clip", :rel => 'nofollow'} %>

<!--
    <div class="half-circle"><%= image_tag 'ic_arrow_down_white.svg' %></div>
    <div class="half-circle"><%= image_tag 'ic_arrow_down_white.svg' %></div>
 -->
</div>

<%= partial 'partials/customer-logos' %>
<%= partial 'partials/uvp-1' %>
<%= partial 'partials/uvp-2' %>
<%= partial 'partials/uvp-3' %>
<%= partial 'partials/video-examples', :locals => { :button_text => 'Learn how to get started', :link_url => 'product#get-started'} %>