---
title: VIBBIO – The Video Creation Platform
---

<div class="hero" id="heroSection">
    <canvas id="my-canvas"></canvas>
    <h1>The Video Creation Platform</h1>

    <%= image_tag 'projects.png', :class => 'app-screen' %>

</div>

<%= partial 'partials/customer-logos' %>
<%= partial 'partials/uvp-1' %>
<%= partial 'partials/uvp-2' %>
<%= partial 'partials/uvp-3' %>
<%= partial 'partials/uvp-4' %>
<%= partial 'partials/video-examples', :locals => { :button_text => 'Learn how to get started', :link_url => 'product#get-started'} %>