---
title: VIBBIO Productions
---
<div class="hero">
    <div class="split">
        <h1>
            VIBBIO Productions
        </h1>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/231543605', :image_url => 'http://placebeyonce.com/640-360', :alt_text => 'VIBBIO productions'} %>

    </div>
    <div class="half-circle"></div>
</div>

<section class="productions-intro">
    <%= partial 'page-content/productions/productions-intro.md' %>
</section>
<%= partial 'partials/video-ideas' %>
<%= partial 'partials/productions-prices' %>
<%= partial 'partials/video-reel', :locals => {:shade => 'tinted'} %>
<%= partial 'partials/quotes' %>
<%= partial 'partials/customer-logos', :locals => {:shade => 'tinted'} %>
